/*
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-a1c6d7
#F7FFF7 - almost white
#343434 - dark gray - almost black
#2F3061 - blue dark
#FFE66D - yellow
#A1C6D7 - blue light
----------
569EAA - dark green blue - background
466881 - Dark grey blue
8195A7 - Light grey blue
*/

/* Global styles
----------------------------------*/

header {
    color: red;
    background-color: #569EAA;
    display: block;
}

body {
    color: #343434;
    margin: 10px;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
}

.simtraining {
    background-color: #8195A7;
}

.sim1 {
    height: 600px;
    background-color: #8195A7;
}

.nav {
    display:inline-block;
    border: 2px solid white;
    transform: skew(-20deg);
    background-color:#A1C6D7;
    padding: 10px 20px;
    color: white;
}

nav {
    display: flex;
    justify-content: flex-end;
}

.simlist {
    margin-left: 350px;
}

h1 {
    display: inline-block;
}

h2 {
    margin-left: 20px;
    padding-top: 20px;
}

h1, h2 {
    font-family: sans-serif;
}



.simulator {
    float: left;
    width: 300px;
    height: 200px;
    padding: 10px;
    margin: 10px;

}

footer {
    background-color: #466881;
}